body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-101px;
  width:831px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u170 {
  position:absolute;
  left:101px;
  top:67px;
  width:500px;
  height:889px;
}
#u171 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:101px;
  top:810px;
  width:500px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:152px;
  height:9px;
}
#u173 {
  position:absolute;
  left:582px;
  top:845px;
  width:147px;
  height:4px;
}
#u174 {
  position:absolute;
  left:2px;
  top:-6px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:739px;
  top:831px;
  width:193px;
  height:66px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
