body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-66px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u60 {
  position:absolute;
  left:66px;
  top:52px;
  width:500px;
  height:889px;
}
#u61 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:66px;
  top:880px;
  width:500px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:66px;
  top:823px;
  width:500px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
