body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-87px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u93 {
  position:absolute;
  left:87px;
  top:58px;
  width:500px;
  height:889px;
}
#u94 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:87px;
  top:147px;
  width:500px;
  height:467px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96 {
  position:absolute;
  left:117px;
  top:883px;
  width:62px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:371px;
  top:883px;
  width:62px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:496px;
  top:877px;
  width:62px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
