body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-73px;
  width:505px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u136 {
  position:absolute;
  left:78px;
  top:70px;
  width:500px;
  height:889px;
}
#u137 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:73px;
  top:892px;
  width:505px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
